@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Fredoka:wght@300;400;500&display=swap");
#profile-picture-div {
  background-image: url("./pictures/profilePicture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#first-content-box h1 {
  color: #FCF4DA;
  margin-bottom: 10vh;
  font-size: 5em;
  font-weight: 400;
}

#first-content-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#first-content-box .left-box div {
  width: 100%;
}

#first-content-box .left-box div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
}

#first-content-box .left-box div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
  -webkit-column-gap: 3%;
          column-gap: 3%;
}

#first-content-box .left-box section {
  text-align: center;
  font-weight: 300;
}

#first-content-box .left-box #socials svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

#second-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5% 0 5%;
}

#second-content-box .right-box h1 {
  font-size: 4em;
  color: #FCF4DA;
  font-weight: 400;
  text-align: center;
}

#second-content-box .left-box {
  padding-top: 5%;
  padding-bottom: 5%;
}

#second-content-box .left-box #road-map {
  position: relative;
  height: 100%;
  left: 45%;
  width: 189px;
}

#second-content-box .left-box #road-map svg {
  position: relative;
  z-index: 2;
  stroke-dashoffset: 0;
  stroke-dasharray: 60;
  stroke: blue;
  animation: dash 20s linear reverse infinite;
}

#second-content-box .left-box .skillPath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 20%;
  font-size: 1em;
  color: #323131;
  text-align: center;
}

#second-content-box .left-box .skillPath:first-of-type {
  left: 55%;
  top: 17%;
}

#second-content-box .left-box .skillPath:nth-of-type(2) {
  left: 25%;
  top: 32%;
}

#second-content-box .left-box .skillPath:nth-of-type(3) {
  left: 60%;
  top: 47%;
}

#second-content-box .left-box .skillPath:nth-of-type(4) {
  left: 25%;
  top: 62%;
}

#second-content-box .left-box .skillPath:nth-of-type(5) {
  left: 65%;
  top: 77%;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 600;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 600;
  }
}

#third-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4% 0 4%;
}

#third-content-box .right-box h1 {
  font-size: 4em;
  color: #323131;
  font-weight: 400;
  text-align: center;
}

#third-content-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15%;
}

#third-content-box .left-box aside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.5vh;
}

#third-content-box .left-box #progress-bars {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5vh;
}

#third-content-box .left-box .progress-bar {
  z-index: 2;
  position: relative;
  border: 1px solid #FCF4DA;
  border-radius: 10px;
  width: 70%;
  height: 2vh;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
}

#third-content-box .left-box .progress-bar div {
  position: relative;
  background-color: #FCF4DA;
  border-radius: 30px;
  width: 60%;
  height: 100%;
}

#third-content-box .left-box .progress-bar #first {
  width: 70%;
}

#third-content-box .left-box .progress-bar #second {
  width: 40%;
}

#third-content-box .left-box .progress-bar #third {
  width: 80%;
}

#third-content-box .left-box .progress-bar #fourth {
  width: 55%;
}

#third-content-box .left-box .progress-bar #fifth {
  width: 85%;
}

#third-content-box .left-box .progress-bar #sixth {
  width: 75%;
}

#third-content-box .left-box .progress-bar #seventh {
  width: 60%;
}

#fourth-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4% 0 4%;
}

#fourth-content-box .right-box h1 {
  font-size: 4em;
  color: #FCF4DA;
  font-weight: 400;
  text-align: center;
}

#fifth-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4% 0 4%;
}

#fifth-content-box .right-box h1 {
  font-size: 4em;
  color: #323131;
  font-weight: 400;
  text-align: center;
}

#fifth-content-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fifth-content-box .left-box article {
  padding-left: 30%;
  width: 100%;
  color: #FCF4DA;
}

#fifth-content-box .left-box article h2 {
  font-size: 2.5em;
  font-weight: 400;
  position: relative;
  left: -5%;
}

#fifth-content-box .left-box article h3 {
  position: relative;
  font-size: 1.5em;
  left: -4%;
  font-weight: 400;
}

#fifth-content-box .left-box article .date-of-job {
  position: relative;
  left: -4%;
}

#sixth-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4% 0 4%;
}

#sixth-content-box .right-box h1 {
  font-size: 4em;
  color: #FCF4DA;
  font-weight: 400;
  text-align: center;
}

#sixth-content-box .right-box span {
  position: absolute;
  bottom: 1.5vh;
  font-size: 0.6em;
  font-weight: 300;
  color: #FCF4DA;
}

#sixth-content-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4vh;
}

#sixth-content-box .left-box section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-decoration: none;
  padding-left: 30%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
}

#sixth-content-box .left-box section a {
  text-decoration: none;
  color: #323131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sixth-content-box .left-box section svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

#sixth-content-box .left-box section span {
  font-size: 1.2em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arima Madurai','Fredoka', cursive, sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #FCF4DA;
  width: 100%;
  height: 660vh;
}

body div.content-box:nth-of-type(even) .left-box {
  background-color: #FCF4DA;
}

body div.content-box:nth-of-type(even) .right-box {
  background-color: #323131;
}

body div.content-box:nth-of-type(even) p {
  color: #323131;
}

body div.content-box:nth-of-type(odd) .left-box {
  background-color: #323131;
}

body div.content-box:nth-of-type(odd) .right-box {
  background-color: #FCF4DA;
}

body div.content-box:nth-of-type(odd) p {
  color: #FCF4DA;
}

.content-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 110vh;
}

.left-box {
  position: relative;
  width: 70%;
  height: 100%;
}

.right-box {
  position: relative;
  width: 30%;
  height: 100%;
}

#arrows {
  width: 50px;
  position: fixed;
  height: 20vh;
  top: 40%;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
}

#up-arrow, #down-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 100%;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

#up-arrow svg:hover, #down-arrow svg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

#burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
}

#burger-menu svg:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */