@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Fredoka:wght@300;400;500&display=swap');
@import "./styles/variables";
@import "./styles/firstPage";
@import "./styles/secondPage";
@import "./styles/thirdPage";
@import "./styles/fourthPage";
@import "./styles/fifthPage";
@import "./styles/sixthPage";
@import "./styles/mediaQueries";
@import "./styles/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arima Madurai','Fredoka', cursive, sans-serif;
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    background-color: $mainBrown;
    width: 100%;
    min-height: 6250px;
    height: 660vh;
    div.content-box:nth-of-type(even){
        .left-box{
            background-color: $mainBrown;
        }

        .right-box{
            background-color: $mainGray;
        }

        p{
            color: $mainGray;
        }
    }
    
    div.content-box:nth-of-type(odd){
        .left-box{
            background-color: $mainGray;
        }
        
        .right-box{
            background-color: $mainBrown;
        }

        p{
            color: $mainBrown;
        }
    }
}

.content-box{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 1000px;
    height: 110vh;
}


.left-box{
    position: relative;
    width: 70%;
    height: 100%;
    min-height: 700px;
}

.right-box{
    position: relative;
    width: 30%;
    height: 100%;
    min-height: 250px;
}

#arrows{
    width: 50px;
    position: fixed;
    height: 20vh;
    top: 40%;
    left: 20px;
    @include flex-center();
    flex-wrap: wrap;
    z-index: 2;

    
}

#up-arrow, #down-arrow{
    @include flex-center();
    height: 50%;
    width: 100%;
    transform: scale(0.75);
    
    svg:hover{
        transform: scale(1.3);
        cursor: pointer;
        
    }
}

#burger-menu{
    @include flex-center();
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;

    svg:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}


@media only screen and (max-width: 1199px) {
    html{
        font-size: 12px;

    }

    #first-content-box{
        
        min-height: 1200px;
        .left-box{
            div:first-of-type{
                height: 50%;
                justify-content: center;
            }
        }
    }

    #second-content-box{
        .left-box{

            #road-map{
                transform: scale(1);
                top: 10%;
                left: 40%;
                
            }
            
            .skillPath:nth-of-type(2){
                left: 20%;

                article{
                    right: 5%;
                }
            }

            .skillPath:nth-of-type(4){
                left: 20%;
    
                article{
                    right: 5%;
                }
            }

        }
    }

    #fourth-content-box{
        .left-box{
            #projects{
                row-gap: 20%;
            }
        }
    }

    @media only screen and(max-width: 1024px) {
        html{
            font-size: 18px;
    
        }

        .content-box{
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            height: 110vh;
        }
        
        
        .left-box{
            position: relative;
            width: 100%;
            height: 80%;
        }
        
        .right-box{
            position: relative;
            width: 100%;
            height: 20%;
        }

        body{

            div.content-box:nth-of-type(even){
                .left-box{
                    background-color: $mainBrown;
                }
        
                .right-box{
                    background-color: $mainGray;
                }
        
                p{
                    color: $mainGray;
                }
            }
            
            div.content-box:nth-of-type(odd){
                .left-box{
                    background-color: $mainBrown;
                }
                
                .right-box{
                    background-color: $mainGray;
                }
        
                p{
                    color: $mainGray;
                }
            }
        }
        

        #first-content-box{

            #profile-picture-div{
                background-position: center top;
            }

            h1{
                font-size: 4em;
                font-weight: 400;
                color: $mainGray;
            }

            .left-box{
                div:nth-of-type(2){
                    padding-left: 20%;
                    svg{
                        transform: scale(0.8);
                    }
                }
            }

            .right-box{
                min-height: 400px !important;
            }
        }


        #second-content-box{
            .right-box{
        
                h1{
                    font-size: 4em;
                    color: $mainBrown;
                }
            }

        }

        #third-content-box{
            .right-box{
        
                h1{
                    font-size: 4em;
                    color: $mainBrown;
                }
            }

            .left-box{
                .progress-bars{
                    span{
                        color: $mainGray;
                    }
                }

                .progress-bar{
                    border: 1px solid $mainGray;

                    div{
                        background-color: $mainGray;
                    }
                }
            }
        }

        #fourth-content-box{
            .right-box{
        
                h1{
                    font-size: 4em;
                    color: $mainBrown;
                }
            }

            .left-box{

                padding: 15% 8% 15% 10%;
                #projects{
                    row-gap: 0%;

                    .portfolio-project{
                        span{
                            h3{
                                font-size: 1.8em;
                            }
                        }
                    
                    a{
                        img{
                            width: 90%;
                        }
                    }    
                    }
                }
            }
        }

        #fifth-content-box{
            .right-box{
        
                h1{
                    font-size: 4em;
                    color: $mainBrown;
                }
            }

            .left-box{
                article{
                    color: $mainGray;
                }
            }
        }


        #sixth-content-box{
            .right-box{
        
                h1{
                    font-size: 4em;
                    color: $mainBrown;
                }
                span{
                    visibility: hidden;
                }
            }


            .left-box{
                svg{
                    transform: scale(0.8);
                }

                section{
                    padding-left: 25%;
                }
            }
        }

        @media only screen and (max-width: 768px) {

            #arrows{
                display: none;
            }


            @media only screen and (max-width: 600px) {
            
                #sixth-content-box{
                            
                    .left-box{
                    
                        section{
                            padding-left: 20%;
                        }
                    }
                }
            
            }

        }
    
    }

 }




