@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Fredoka:wght@300;400;500&display=swap");
#profile-picture-div {
  background-image: url("./pictures/profilePicture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile-picture-div-inner {
  display: none;
  background-image: url("./pictures/profilePictureSmall.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
  aspect-ratio: 1;
  border-radius: 40px;
}

#first-content-box h1 {
  color: #FCF4DA;
  margin-bottom: 10vh;
  font-size: 5em;
  font-weight: 400;
}

#first-content-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#first-content-box .left-box div {
  width: 100%;
}

#first-content-box .left-box div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
}

#first-content-box .left-box div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
  -webkit-column-gap: 3%;
          column-gap: 3%;
}

#first-content-box .left-box section {
  text-align: center;
  font-weight: 300;
}

#first-content-box .left-box #socials svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

#second-content-box {
  min-height: 1200px;
}

#second-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5% 0 5%;
}

#second-content-box .right-box h1 {
  font-size: 4em;
  color: #FCF4DA;
  font-weight: 400;
  text-align: center;
}

#second-content-box .left-box {
  padding-top: 5%;
  padding-bottom: 5%;
}

#second-content-box .left-box #road-map {
  position: relative;
  height: 100%;
  left: 45%;
  width: 189px;
  top: 15%;
}

#second-content-box .left-box #road-map svg {
  position: relative;
  z-index: 2;
  stroke-dashoffset: 0;
  stroke-dasharray: 60;
  stroke: blue;
  animation: dash 20s linear reverse infinite;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#second-content-box .left-box .skillPath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 20%;
  font-size: 1em;
  color: #323131;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

#second-content-box .left-box .skillPath:first-of-type {
  left: 60%;
  top: 17%;
}

#second-content-box .left-box .skillPath:first-of-type article {
  left: 20%;
}

#second-content-box .left-box .skillPath:nth-of-type(2) {
  left: 20%;
  top: 32%;
}

#second-content-box .left-box .skillPath:nth-of-type(2) article {
  right: 10%;
}

#second-content-box .left-box .skillPath:nth-of-type(3) {
  left: 60%;
  top: 47%;
}

#second-content-box .left-box .skillPath:nth-of-type(3) article {
  left: 20%;
}

#second-content-box .left-box .skillPath:nth-of-type(4) {
  left: 25%;
  top: 68%;
}

#second-content-box .left-box .skillPath:nth-of-type(4) article {
  right: 20%;
}

#second-content-box .left-box .skillPath:nth-of-type(5) {
  left: 65%;
  top: 80%;
}

#second-content-box .left-box .skillPath:nth-of-type(5) article {
  left: 10%;
}

#second-content-box .left-box article {
  position: absolute;
  width: 160%;
  height: auto;
  background-color: #494949;
  border-radius: 20px;
  top: 120%;
  font-size: 0.75em;
  color: #FCF4DA;
  padding: 7px 10px 7px 10px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}

#second-content-box .left-box .skillPath:hover article {
  opacity: 1;
  visibility: visible;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 600;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 600;
  }
}

@-webkit-keyframes loadArticle {}

@keyframes loadArticle {}#third-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4% 0 4%;
}

#third-content-box .right-box h1 {
  font-size: 4em;
  color: #323131;
  font-weight: 400;
  text-align: center;
}

#third-content-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12%;
  row-gap: 3vh;
}

#third-content-box .left-box .progress-bars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10%;
          column-gap: 10%;
}

#third-content-box .left-box .progress-bars span {
  text-align: left;
  width: 40%;
  color: #FCF4DA;
}

#third-content-box .left-box .progress-bar {
  z-index: 2;
  position: relative;
  border: 1px solid #FCF4DA;
  border-radius: 10px;
  width: 50%;
  height: 2vh;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
}

#third-content-box .left-box .progress-bar div {
  position: relative;
  background-color: #FCF4DA;
  border-radius: 30px;
  width: 0px;
  height: 100%;
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
}

#third-content-box .left-box .progress-bar #first.bar-visible {
  width: 70%;
}

#third-content-box .left-box .progress-bar #second.bar-visible {
  width: 40%;
}

#third-content-box .left-box .progress-bar #third.bar-visible {
  width: 80%;
}

#third-content-box .left-box .progress-bar #fourth.bar-visible {
  width: 55%;
}

#third-content-box .left-box .progress-bar #fifth.bar-visible {
  width: 85%;
}

#third-content-box .left-box .progress-bar #sixth.bar-visible {
  width: 75%;
}

#third-content-box .left-box .progress-bar #seventh.bar-visible {
  width: 60%;
}

#fourth-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4% 0 4%;
}

#fourth-content-box .right-box h1 {
  font-size: 4em;
  color: #FCF4DA;
  font-weight: 400;
  text-align: center;
}

#fourth-content-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15% 13% 15% 17%;
}

#fourth-content-box .left-box #projects {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35%;
}

#fourth-content-box .left-box #projects .hidden-project {
  display: none !important;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

#fourth-content-box .left-box #projects .portfolio-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  height: 35%;
}

#fourth-content-box .left-box #projects .portfolio-project span {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1vh;
}

#fourth-content-box .left-box #projects .portfolio-project span h3 {
  text-align: center;
  font-size: 2.3em;
  font-weight: 400;
}

#fourth-content-box .left-box #projects .portfolio-project span a {
  width: 40%;
  cursor: pointer;
}

#fourth-content-box .left-box #projects .portfolio-project span a button {
  background-color: #494949;
  color: #FCF4DA;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  height: 2.5em;
  border: none;
}

#fourth-content-box .left-box #projects .portfolio-project a {
  width: 45%;
}

#fourth-content-box .left-box #projects .portfolio-project a img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#fourth-content-box .left-box #portfolio-up-arrow, #fourth-content-box .left-box #portfolio-down-arrow {
  position: absolute;
}

#fourth-content-box .left-box #portfolio-up-arrow {
  top: 18%;
}

#fourth-content-box .left-box #portfolio-down-arrow {
  bottom: 18%;
}

#fourth-content-box .left-box svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  cursor: pointer;
}

#fourth-content-box .left-box svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#fifth-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4% 0 4%;
}

#fifth-content-box .right-box h1 {
  font-size: 4em;
  color: #323131;
  font-weight: 400;
  text-align: center;
}

#fifth-content-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fifth-content-box .left-box article {
  padding-left: 30%;
  width: 100%;
  color: #FCF4DA;
}

#fifth-content-box .left-box article h2 {
  font-size: 2.25em;
  font-weight: 400;
  position: relative;
  left: -5%;
}

#fifth-content-box .left-box article h3 {
  position: relative;
  font-size: 1.5em;
  left: -4%;
  font-weight: 400;
}

#fifth-content-box .left-box article .date-of-job {
  position: relative;
  left: -4%;
}

#sixth-content-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4% 0 4%;
}

#sixth-content-box .right-box h1 {
  font-size: 4em;
  color: #FCF4DA;
  font-weight: 400;
  text-align: center;
}

#sixth-content-box .right-box span {
  position: absolute;
  bottom: 1.5vh;
  font-size: 0.6em;
  font-weight: 300;
  color: #FCF4DA;
}

#sixth-content-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75vh;
}

#sixth-content-box .left-box section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-decoration: none;
  padding-left: 30%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
}

#sixth-content-box .left-box section a {
  text-decoration: none;
  color: #323131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sixth-content-box .left-box section svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

#sixth-content-box .left-box section span {
  font-size: 1.1em;
}

#burger-menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  row-gap: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

#burger-menu-icon div {
  margin-left: 30%;
  width: 40px;
  height: 4px;
  background-color: #FCF4DA;
  border-radius: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

#burger-menu-icon :nth-child(2) {
  width: 25px;
}

#burger-menu {
  opacity: 0;
  position: fixed;
  top: 2%;
  left: 1%;
  width: 400px;
  height: 0px;
  z-index: 4;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding-right: 2.5%;
  overflow: hidden;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

#burger-menu a {
  text-decoration: none;
  color: #323131;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#burger-menu a:hover svg {
  opacity: 1;
}

#burger-menu a:hover li {
  padding-left: 60px;
}

#burger-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

#burger-menu li {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

#burger-menu svg {
  opacity: 0;
  width: 10%;
  position: relative;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.triggeredIcon div {
  background-color: #323131 !important;
}

.triggeredIcon :first-child {
  -webkit-transform: rotateZ(45deg) translateY(6px) translateX(6px);
          transform: rotateZ(45deg) translateY(6px) translateX(6px);
  top: 100px;
}

.triggeredIcon :nth-child(2) {
  width: 40px !important;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.triggered {
  opacity: 1 !important;
  height: 400px !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arima Madurai','Fredoka', cursive, sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #FCF4DA;
  width: 100%;
  height: 660vh;
}

body div.content-box:nth-of-type(even) .left-box {
  background-color: #FCF4DA;
}

body div.content-box:nth-of-type(even) .right-box {
  background-color: #323131;
}

body div.content-box:nth-of-type(even) p {
  color: #323131;
}

body div.content-box:nth-of-type(odd) .left-box {
  background-color: #323131;
}

body div.content-box:nth-of-type(odd) .right-box {
  background-color: #FCF4DA;
}

body div.content-box:nth-of-type(odd) p {
  color: #FCF4DA;
}

body::-webkit-scrollbar {
  display: none;
}

.content-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 800px;
  height: 110vh;
}

.left-box {
  position: relative;
  width: 70%;
  height: 100%;
}

.right-box {
  position: relative;
  width: 30%;
  height: 100%;
}

#arrows {
  width: 50px;
  position: fixed;
  height: 140px;
  top: 40%;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
}

#up-arrow, #down-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 100%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#up-arrow svg:hover, #down-arrow svg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

#up-arrow svg, #up-arrow path, #down-arrow svg, #down-arrow path {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

footer {
  visibility: hidden;
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6em;
}

@media only screen and (max-width: 1199px) {
  html {
    font-size: 14px;
  }
  #first-content-box .left-box div:first-of-type {
    height: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #second-content-box .left-box #road-map {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 10%;
    left: 40%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(2) {
    left: 20%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(2) article {
    right: 5%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(4) {
    left: 20%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(4) article {
    right: 5%;
  }
  #fourth-content-box .left-box #projects {
    row-gap: 20%;
  }
}

@media only screen and (max-width: 1199px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
  footer {
    visibility: visible;
  }
  .content-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    height: 110vh;
  }
  .left-box {
    position: relative;
    width: 100%;
    height: 80%;
  }
  .right-box {
    position: relative;
    width: 100%;
    height: 20%;
  }
  body div.content-box:nth-of-type(even) .left-box {
    background-color: #FCF4DA;
  }
  body div.content-box:nth-of-type(even) .right-box {
    background-color: #323131;
  }
  body div.content-box:nth-of-type(even) p {
    color: #323131;
  }
  body div.content-box:nth-of-type(odd) .left-box {
    background-color: #FCF4DA;
  }
  body div.content-box:nth-of-type(odd) .right-box {
    background-color: #323131;
  }
  body div.content-box:nth-of-type(odd) p {
    color: #323131;
  }
  #first-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  #first-content-box #profile-picture-div {
    background-color: #FCF4DA;
    background-image: none;
  }
  #first-content-box #profile-picture-div-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #first-content-box h1 {
    font-size: 4em;
    font-weight: 400;
    color: #323131;
    margin-bottom: 6vh;
  }
  #first-content-box .left-box div:nth-of-type(2) {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #first-content-box .left-box div:nth-of-type(2) svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #first-content-box .left-box path {
    stroke: #323131;
  }
  #first-content-box .right-box {
    min-height: 300px;
  }
  #second-content-box .right-box h1 {
    font-size: 4em;
    color: #FCF4DA;
  }
  #third-content-box .right-box h1 {
    font-size: 4em;
    color: #FCF4DA;
  }
  #third-content-box .left-box .progress-bars span {
    color: #323131;
  }
  #third-content-box .left-box .progress-bar {
    border: 1px solid #323131;
  }
  #third-content-box .left-box .progress-bar div {
    background-color: #323131;
  }
  #fourth-content-box .right-box h1 {
    font-size: 4em;
    color: #FCF4DA;
  }
  #fourth-content-box .left-box {
    padding: 15% 8% 15% 10%;
  }
  #fourth-content-box .left-box #projects {
    row-gap: 0%;
  }
  #fourth-content-box .left-box #projects .portfolio-project span h3 {
    font-size: 1.8em;
  }
  #fourth-content-box .left-box #projects .portfolio-project a img {
    width: 90%;
    max-width: 270px;
  }
  #fifth-content-box .right-box h1 {
    font-size: 4em;
    color: #FCF4DA;
  }
  #fifth-content-box .left-box article {
    color: #323131;
    padding-right: 10%;
  }
  #sixth-content-box .right-box h1 {
    font-size: 4em;
    color: #FCF4DA;
  }
  #sixth-content-box .right-box span {
    visibility: hidden;
  }
  #sixth-content-box .left-box svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #sixth-content-box .left-box section {
    padding-left: 25%;
  }
}

@media only screen and (max-width: 1199px) and (max-width: 1024px) and (max-width: 768px) {
  #arrows {
    display: none;
  }
  #first-content-box .left-box div:first-of-type {
    padding-left: 10%;
    padding-right: 10%;
  }
  .right-box h1 {
    font-size: 3.5em !important;
  }
  #second-content-box .left-box #road-map {
    left: 38%;
  }
  #second-content-box .left-box .skillPath:first-of-type {
    left: 55%;
    top: 17%;
  }
  #second-content-box .left-box .skillPath:first-of-type article {
    left: -40%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(2) {
    left: 20%;
    top: 32%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(2) article {
    right: -30%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(3) {
    left: 60%;
    top: 43%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(3) article {
    left: -60%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(4) {
    left: 18%;
    top: 60%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(4) article {
    right: -70%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(5) {
    left: 70%;
    top: 75%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(5) article {
    left: -130%;
  }
  #second-content-box .left-box article {
    width: 220%;
  }
  #fourth-content-box .left-box #projects .portfolio-project span a {
    width: 60%;
  }
  #fifth-content-box .left-box article h2 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 1199px) and (max-width: 1024px) and (max-width: 768px) and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  body {
    min-height: 4800px;
    height: 600vh;
  }
  .content-box {
    height: 100vh;
    min-height: 800px;
  }
  .left-box {
    min-height: 600px;
  }
  .right-box {
    min-height: 200px;
  }
  #first-content-box {
    min-height: 800px;
  }
  #first-content-box .left-box {
    min-height: 500px;
  }
  #first-content-box .right-box {
    min-height: 300px;
  }
  #second-content-box .left-box #road-map {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    left: 35%;
  }
  #second-content-box .left-box .skillPath:first-of-type {
    left: 55%;
    top: 17%;
  }
  #second-content-box .left-box .skillPath:first-of-type article {
    left: -40%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(2) {
    left: 20%;
    top: 32%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(2) article {
    right: -30%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(3) {
    left: 60%;
    top: 50%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(3) article {
    left: -60%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(4) {
    left: 18%;
    top: 60%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(4) article {
    right: -70%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(5) {
    left: 45%;
    top: 75%;
  }
  #second-content-box .left-box .skillPath:nth-of-type(5) article {
    left: -130%;
  }
  #fifth-content-box .left-box article {
    padding-left: 28%;
  }
  #sixth-content-box .left-box section {
    padding-left: 20%;
  }
}
/*# sourceMappingURL=style.css.map */