@import "./mixins";
@import "./variables";

#profile-picture-div{
    background-image: url("./pictures/profilePicture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#first-content-box{
    h1{
        color: $mainBrown;
        margin-bottom: 10vh;
        font-size: 5em;
        font-weight: 100;
    }

    .left-box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        // padding-top: 5%;
        
        div{
            width: 100%;

        }

        div:first-of-type{
            @include flex-center();
            flex-direction: column;
            padding-left: 20%;
            padding-right: 20%;
        }

        div:nth-of-type(2){
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10%;
            column-gap: 3%;
        }

        section{
            text-align: center;
            font-weight: 100;
        }

        #socials{
            svg:hover{
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }
}