@import "./mixins";
@import "./variables";

#fourth-content-box{
    .right-box{
        @include flex-center;
        padding: 0 4% 0 4%;

        h1{
            font-size: 4em;
            color: $mainBrown;
            font-weight: 400;
            text-align: center;
        }
    }


    .left-box{
        @include flex-center;
            // top right bottom left
        padding: 15% 13% 15% 17%;
    
        #projects{
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            row-gap: 35%; 

            .last-hidden-project{
                position: absolute;
                display: flex;
                opacity: 0;
                bottom: 0%;
                margin-left: 24.3%;
                margin-right: 24.3%;
                right: -5.7%;
                animation: last-hidden-project-animation-up 1s;
                z-index: -1;
            }

            .hidden-project{
                position: absolute;
                display: flex;
                opacity: 0;
                bottom: 0%;
                margin-left: 24.3%;
                margin-right: 24.3%;
                animation: hidden-project-animation 0.1s;
                right: -5.7%;
                z-index: -1;
            }
            
            .first-project{
                position: relative;
                display: flex;
                opacity: 1;
                animation: first-project-animation-up 1s;
                z-index: 4;
            }

            
            
            .second-project{
                position: relative;
                display: flex;
                opacity: 1;
                animation: second-project-animation-up 1s;
                z-index: 3;
            }
            
            .portfolio-project{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 10%;
                height: 35%;
                transition: 3s linear;
                

                span{
                    width: 45%;
                    @include flex-center;
                    flex-direction: column;
                    row-gap: 1vh;

                    h3{
                        text-align: center;
                        font-size: 2.3em;
                        font-weight: 400;
                    }

                    a{
                        width: 40%;
                        cursor: pointer;
                        background-color: $secondaryGray;
                        color: $mainBrown;
                        border-radius: 20px;
                        height: 2.5em;
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    
                    }
                }

                a{
                    width: 45%;

                    img{
                        width: 100%;
                        height: auto;
                        border-radius: 20px;
                    }
                }
                
            }

        }

        #portfolio-up-arrow, #portfolio-down-arrow{
            position: absolute;
        }

        #portfolio-up-arrow{
            top: 18%;
        }

        #portfolio-down-arrow{
            bottom: 18%;
        }

        svg{
            transform: scale(0.8);
            cursor: pointer;
        }
        
        svg:hover{
            transform: scale(1.1);
        }
        
    }
}


@keyframes first-project-animation-up{
    from{
        transform: translateY(200%);

    }
    to{
        transform: translateY(0%);
    }
}

@keyframes second-project-animation-up{
    from{
        top: 0;
        transform: translateY(100%);
        opacity: 0;
        margin-left: 0%;
        margin-right: 0%;

    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}


@keyframes first-project-animation-down{
    from{
        transform: translateY(-100%);
        opacity: 0;
        margin-left: 0%;
        margin-right: 0%;

    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes second-project-animation-down{
    from{
        transform: translateY(-200%);
        opacity: 1;
        
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes last-hidden-project-animation-up{
    from{
        top: 20%;
        z-index: 1;
        opacity: 1;
        margin-left: 24.3%;
        margin-right: 24.3%;
    }
    to{
        top: 0;
        z-index: -1;
        opacity: 0;
        margin-left: 24.3%;
        margin-right: 24.3%;
    }
}

@keyframes last-hidden-project-animation-down{
    from{
        top: auto;
        bottom: 20%;
        z-index: 1;
        opacity: 1;
        margin-left: 24.3%;
        margin-right: 24.3%;
        
    }
    to{
        top: auto;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        margin-left: 24.3%;
        margin-right: 24.3%;
        
    }
}



@keyframes hidden-project-animation{
    
    to{
        opacity: 0;
    }
}