@import "./mixins";
@import "./variables";

#second-content-box{

    min-height: 1200px;

    .right-box{
        @include flex-center;
        padding: 0 5% 0 5%;

        h1{
            font-size: 4em;
            color: $mainBrown;
            font-weight: 400;
            text-align: center;
        }

    }

    .left-box{
        padding-top: 5%;
        padding-bottom: 5%;
        
        #road-map{
            position: relative;
            height: 100%;
            left: 45%;
            width: 189px;
            top: 15%;
            svg{
                position: relative;
                z-index: 2;
                stroke-dashoffset: 0;
                stroke-dasharray: 60;
                stroke: blue;
                animation: dash 20s linear reverse infinite;
                transform: scale(1.25);
                
            }
        }

        .skillPath{
            @include flex-center;
            position: absolute;
            width: 20%;
            font-size: 1em;
            color: $mainGray;
            text-align: center;
            cursor: pointer;
            z-index: 2;
            
        }

        .skillPath:first-of-type{
            left: 60%;
            top: 17%;

            article{
                left:20%;
            }
        }

        .skillPath:nth-of-type(2){
            left: 20%;
            top: 32%;

            article{
                right:10%;
            }
        }

        .skillPath:nth-of-type(3){
            left: 60%;
            top: 47%;

            article{
                left:20%;
            }
        }

        .skillPath:nth-of-type(4){
            left: 25%;
            top: 68%;

            article{
                right:20%;
            }
        }

        .skillPath:nth-of-type(5){
            left: 65%;
            top: 80%;

            article{
                left:10%;
            }
        }
        
        article{
            position: absolute;
            width: 160%;
            height: auto;
            // background-color: $mainGray;
            background-color: $secondaryGray;
            border-radius: 20px;
            top: 120%;
            font-size: 0.75em;
            color: $mainBrown;
            //top right bottom left
            padding: 7px 10px 7px 10px;
            transition-duration: 2s;
            opacity: 0;
            visibility: hidden;
            z-index: 3;

        }
        
        .skillPath:hover{
            article{
                opacity: 1;
                visibility: visible;
                transition-duration: 0.4s;
                transition-property: opacity;
                transition-timing-function: linear;
            }
        }
    }


}

@keyframes dash {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 600;
    }
}

@keyframes loadArticle{
}