@import "./mixins";
@import "./variables";

#third-content-box{
    .right-box{
        @include flex-center;
        padding: 0 4% 0 4%;

        h1{
            font-size: 4em;
            color: $mainGray;
            font-weight: 400;
            text-align: center;
        }

    }

    .left-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 12%;
        row-gap: 3vh;
        
        .progress-bars{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            column-gap: 10%;
        
            span{
                text-align: left;
                width: 40%;
                color: $mainBrown;

            }
        }

        .progress-bar{
            z-index: 2;
            position: relative;
            border: 1px solid $mainBrown;
            border-radius: 10px;
            width: 50%;
            height: 2vh;
            padding-top: 0.2vh;
            padding-bottom: 0.2vh;


            div{
                position: relative;
                background-color: $mainBrown;
                border-radius: 30px;
                width: 0px;
                height: 100%;

                transition: 2s ease-out;
            }

            #first.bar-visible{
                width: 70%;

            }

            #second.bar-visible{
                width: 40%;
            }

            #third.bar-visible{
                width: 70%;
            }

            #fourth.bar-visible{
                width: 55%;
            }

            #fifth.bar-visible{
                width: 85%;
            }

            #sixth.bar-visible{
                width: 75%;
            }

            #seventh.bar-visible{
                width: 60%;
            }
            
        }

        
    }
}