@import "./mixins";
@import "./variables";

#third-content-box{
    .right-box{
        @include flex-center;
        padding: 0 4% 0 4%;

        h1{
            font-size: 4em;
            color: $mainGray;
            font-weight: 400;
            text-align: center;
        }

    }

    .left-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 12%;
        row-gap: 3vh;
        
        .progress-bars{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            column-gap: 10%;
        
            span{
                text-align: left;
                width: 40%;
                color: $mainBrown;

            }
        }

        .progress-bar{
            z-index: 2;
            position: relative;
            border: 1px solid $mainBrown;
            border-radius: 10px;
            width: 50%;
            height: 2vh;
            padding-top: 0.2vh;
            padding-bottom: 0.2vh;


            div{
                position: relative;
                background-color: $mainBrown;
                border-radius: 30px;
                width: 60%;
                height: 100%;
            }

            #first{
                width: 70%;

            }

            #second{
                width: 40%;
            }

            #third{
                width: 80%;
            }

            #fourth{
                width: 55%;
            }

            #fifth{
                width: 85%;
            }

            #sixth{
                width: 75%;
            }

            #seventh{
                width: 60%;
            }
            
        }

        
    }
}